body{
    background-color: lightblue;
    margin: 0px;
}
h1 {
    color: navy;
    margin-left: 20px;
}
.navbar ul {
    list-style-type: none;
    background-color: lightgray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar :hover {
    background-color: lightgray;

}
.navbar li {
    float: left;
}